/* Define styles for the entire body */
body {
    background: #720e9e; /* Background color */
    text-align: center; /* Center-align text */
    font-size: 2em; /* Font size */
    color: white; /* Text color */
}

/* Define styles for the header */
header {
    background-color: #452c63; /* Header background color */
    padding: 0.1%; /* Padding for the header */
}

/* Define styles for the h1 element within the header */
header > h1 {
    font-family: 'Bebas Neue', sans-serif; /* Font family */
    text-shadow: -5px 2px red; /* Text shadow */
}

/* Define styles for the h2 element within the header */
header > h2 {
    font-family: 'Satisfy', cursive; /* Font family */
    text-shadow: -5px 2px red; /* Text shadow */
}

/* Define styles for the .word1 class */
.word1 {
    text-align: left; /* Left-align text */
    font-size: 70px; /* Font size */
    color: #FFD700; /* Text color */
    margin-left: 35%; /* Left margin */
    font-family: 'Pacifico', sans-serif; /* Font family */
}

/* Define styles for the .line0 class */
.line0 {
    color: #FFFF00; /* Text color */
    font-weight: bold; /* Bold font */
}

/* Define styles for the .line2 class */
.line2 {
    font-family: 'Satisfy', cursive; /* Font family */
    font-size: 60px; /* Font size */
    color: #FFD700; /* Text color */
}

/* Define styles for the .line3 class */
.line3 {
    font-size: 50px; /* Font size */
    font-family: 'Permanent Marker', cursive; /* Font family */
}

/* Define styles for the .line4 class */
.line4 {
    font-size: 45px; /* Font size */
    font-style: italic; /* Italic font style */
    color: #F0E68C; /* Text color */
}

/* Define styles for the .line5 class */
.line5 {
    font-size: 55px; /* Font size */
    font-family: 'Zeyada', cursive; /* Font family */
    font-weight: bolder; /* Bolder font */
    color: #FFFF00; /* Text color */
}

/* Define styles for the .line6 class */
.line6 {
    color: #FFC72C; /* Text color */
    font-family: 'Satisfy', cursive; /* Font family */
    font-size: 40px; /* Font size */
}

/* Define styles for the .word2 class */
.word2 {
    font-family: 'Pacifico', sans-serif; /* Font family */
    color: #FFFF00; /* Text color */
    font-size: 55px; /* Font size */
}

/* Define styles for the .line7 class */
.line7 {
    color: #FFC72C; /* Text color */
    font-style: italic; /* Italic font style */
    font-size: 38px; /* Font size */
}

/* Define styles for the .line8 class */
.line8 {
    color: #FFFF00; /* Text color */
    font-family: 'Zeyada', cursive; /* Font family */
    font-size: 40px; /* Font size */
    font-weight: bold; /* Bold font */
}

/* Define styles for paragraphs within .mainline */
.mainline > p {
    font-size: 50px; /* Font size */
    font-family: 'Satisfy', cursive; /* Font family */
    color: #FFFF00; /* Text color */
}

/* Define styles for the .line9 class */
.line9 {
    font-family: 'Satisfy', cursive; /* Font family */
    font-size: 40px; /* Font size */
    color: #F0E68C; /* Text color */
}
